html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.site-container {
  /*display: flex;*/
  /*flex: 1 1 960px;*/
  width: cover;
  /*padding: 0 203px;*/
}

header {
  display: flex;
  /*flex: 1 1 960px;*/
  background-color: black;
  height: 2.32rem;
  max-width: 960px;
/*  width: 100%;*/
  /*flex-basis: 960px;*/
  align-items: center;
  /*z-index: 1;*/
  padding: 0 203px;
  }

header img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header span {
  padding: 0.66rem 0.5rem;
}

.banner {
/*  display: flex;*/
/*  position: relative;
  top: 2.32rem;*/
  height: 25rem;
  background-color: black;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 203px;
}

.arrival {
  position: relative;
  top: 9rem;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  /*margin-top: 9rem;*/
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: flex;
  background-color: firebrick;
  justify-content: space-between;
  padding: 0 203px;
  max-width: 960px;
}

.nav span {
  padding: 0.75rem 0;
}

.merch {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  padding: 0 203px;
  max-width: 960px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  border: 4px solid black;
}

.item img {
/*  display: block;*/
  width: 9rem;
  height: 9rem;
  margin: 2rem;
}

.item span {
  display: block;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.about {
  display: flex;
  /*flex-basis: 960px;*/
  justify-content: space-between;
  margin: 3rem auto 4rem;
  padding: 0 203px;
  max-width: 960px;
}

.location, .hours {
  width: 35%;
}

.stuff {
  display: block;
  background-color: black;
/*  width: 100%;*/
  text-align: left;
  vertical-align: middle;
  padding: 1rem 0 1rem 2rem;
}

.info {
  color: black;
}

footer {
  display: flex;
  height: 5rem;
  background-color: black;
  text-align: left;
  align-items: center;
  padding: 0 203px;
  max-width: 960px;
}

@media only screen and (min-width: 1024px) {
  .smallscrn {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {

  header {
    max-width: 1024px;
    padding: 0;
  }

  .banner {
    padding-left: 0;
  }

  .nav {
    max-width: 1024px;
    padding: 0;
    justify-content: center;
  }

  .largescrn {
    display: none;
  }

  .smallscrn {
    text-align: center;
  }

  .merch {
    max-width: 1024px;
    padding: 0;
  }

  .item {
    width: 47%;
  }

  #glasses {
    display: none;
  }

  .about {
    max-width: 1024px;
    padding: 0;
  }

  footer {
    max-width: 1024px;
    padding: 0;
  }
}
